<div ng-controller="DrugsIngredientController" main-app>
    <div app-bar>
        <div class="navbar-brand">
            Účinná látka {{ingredient.prefLabel}}
        </div>
    </div>

    <div ng-hide="isLoading">
        <h3>Indikace</h3>
        <ul>
            <li ng-repeat="mt in ingredient.may_treat_tree">
                {{mt.prefLabel | join}}
            </li>
        </ul>
        <h3>Kontraindikace</h3>
        <ul>
            <li ng-repeat="ci in ingredient.CI_with_tree">
                {{ci.prefLabel | join}}
            </li>
        </ul>
    </div>

    <div ng-show="isLoading" spinner-bar></div>

</div>