<div main-app ng-controller="DrugsMedicinalProductController">
    <div app-bar>
        <div class="navbar-brand">
            Léčivý přípravek {{product.title}}
        </div>
    </div>

    <div spinner-bar ng-show="isLoading"></div>

    <div class="well" ng-hide="isLoading">

        <div class="row">
            <div class="col-sm-4">
                <p><strong>Název</strong></p>
            </div>
            <div class="col-sm-8">
                <p>{{product.title}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p><strong>Síla</strong></p>
            </div>
            <div class="col-sm-8">
                <p>{{product.hasStrength}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p><strong>Velikost balení</strong></p>
            </div>
            <div class="col-sm-8">
                <p>{{product.hasPackagingSize}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p><strong>Způsob podání</strong></p>
            </div>
            <div class="col-sm-8">
                <p>{{product.hasRouteOfAdministration}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p><strong>Účinné látky</strong></p>
            </div>
            <div class="col-sm-8">
                <ul>
                    <li ng-repeat="ai in product.hasActiveIngredient_tree">
                        <a click resource="{{ai['@id']}}" type="ndfrt:Ingredient">
                            {{ai.prefLabel | join}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>


</div>