<div sidebar-app heading="Léčivé přípravky" ng-controller="DrugsMedicinalProductsController">
    <table class="table table-condensed">
        <tr>
            <th>Název</th>
            <th>Velikost balení</th>
        </tr>
        <tr ng-repeat="product in products | limitTo:limit">
            <td>
                <a click resource="{{product['@id']}}" type="sukl:MedicinalProduct">
                    {{product.title}}
                </a>
            </td>
            <td>{{product.hasPackagingSize}}</td>
        </tr>
    </table>
    <div class="text-center">
        <a ng-show="products.length > 10" ng-click="toggleLimit()" class="btn btn-primary btn-sm">
            <span ng-show="limit == 10">Zobrazit vše</span>
            <span ng-show="limit != 10">Skrýt</span>
        </a>
    </div>
</div>